<div class="bg-blue-dark rounded-md  fixed top-[105px]  flex flex-col justify-between pb-5 px-6 space-y-7 pt-7">
    <div class="flex items-center space-x-2 border-b border-b-blue-light pb-4">
        <img src="assets/images/profile.png" alt="profile" srcset="" class="h-7 w-7 rounded-full"/>
        <p class="text-white text-xs">Mutesa Cedric</p>
    </div>
    <div class="flex flex-col space-y-4">
        <div *ngFor="let link of menuLinks" class="text-white flex items-center space-x-4 cursor-pointer">
            <img [src]="link.icon" class="w-5 h-[18px]"/>
            <p class="text-xs">{{link.label}}</p>
        </div>
    </div>
    <button class="rounded-2xl text-xs leading-[18px] bg-blue-darkest text-blue-light font-semibold py-2 px-8">
        See more
    </button>
</div>
