
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size:30px;
    font-weight: 900;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="main text-red-500">
    Hello  {{title}} 
  </div>
</div>

<router-outlet></router-outlet>
